<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>997912519244-ke0p0rbslrq4bkqb4ms1t8h06f5te280.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.997912519244-ke0p0rbslrq4bkqb4ms1t8h06f5te280</string>
	<key>API_KEY</key>
	<string>AIzaSyDt0x7SdLTDvHqqo7XzdneoYw5gLKY-A24</string>
	<key>GCM_SENDER_ID</key>
	<string>997912519244</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>param.floreta-test</string>
	<key>PROJECT_ID</key>
	<string>floreta-ae4d8</string>
	<key>STORAGE_BUCKET</key>
	<string>floreta-ae4d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:997912519244:ios:53f41b5abc0cf966</string>
	<key>DATABASE_URL</key>
	<string>https://floreta-ae4d8.firebaseio.com</string>
</dict>
</plist>